ul{
  padding-left: 50px;
  font-size: 22px;
}

h1{
  padding-left: 15px;
}

body{
  background-color: #303030;
  margin: -5px;
  padding: 0px;
  color: white;
}


form{
  margin: auto;
  padding-left: 15px;
}

header{
  width: 100%;
  height: 40px;
  background-color: #333d3c;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
#logo{
  float: left;
  font-size: 36px;
  margin-left: 20px;
}

a.link{
  color: white;
  text-decoration: none;
}

.linkd{
  color: white;
}

.inputsubmit {
    width: 30%;
    float: left;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #60b485;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
